$side: 20px;

$font-main: "Golos Text", Arial, sans-serif;

$color-text: #111111;
$color-bg: #ffffff;
$color-muted: #8d8d8d;
$color-red: #d10000;
$color-black: #000000;
$color-white: #ffffff;

$z-header: 50;
$z-slider: 1;
$z-dot: 2;
